
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar 
{
    display: none;
}

.uk-container-small
{
    font-family: 'Poppins', sans-serif;
}

.uk-container-xsmall
{
    font-family: 'Poppins', sans-serif;
}

h3
{
    font-family: 'Poppins', sans-serif;
}

p .uk-article-meta
{
    font-family: 'Poppins', sans-serif;
}

textarea 
{
    overflow: scroll;
    resize: none;
    
}

dl .uk-description-list dt {
    font-family: 'Poppins', sans-serif;
}

dt {
    font-family: 'Poppins', sans-serif;
}

table
{
    font-family: 'Poppins', sans-serif;
}